.categoriesWrapper {
    background-color: #212121;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.categoriesWrapper button {
    padding: 0;
}

.GifCategoriesBtn {
    background-color: transparent;
    border: none;
    font-size: 22px;
    color: #ffffff;
    outline: none;
}

.GifCategoriesBtn:hover {
    cursor: pointer;
    color: #dfecfc;
}
