
.GifsDetailsBlock {
    color: #ffffff;
    background: #000000eb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

@media (max-width: 500px) {
    .wrapper  {
        width: 95%;
    }
    .imageBlock img {
        width: 97.9%;
    }
    .hideDetailsBtn {
        font-size: 25px;
        right: 1%;
    }
}


.wrapper {
    display: inline-block;
    margin-top: 3%;
}

.description{
    width: 100%;
    word-wrap: break-word;
}

.subShareDetails button{
    outline: none;
}

.hideDetailsBtn {
    position: absolute;
    padding: 0;
    background: none;
    border: none;
    color: #d45151;
    cursor: pointer;
    font-size: 30px;
    outline: none;
}