
.GifsDetailsBlock {
    color: #ffffff;
    background: #000000eb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 500px) {
    .imageBlock img {
        width: 90%;
    }
}


.wrapper {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description{
    width: 100%;
    word-wrap: break-word;
}

.subShare button{
    outline: none;
}

.hideDetailsBtn {
    position: absolute;
    padding: 0;
    background: none;
    border: none;
    color: #d45151;
    cursor: pointer;
    font-size: 30px;
    outline: none;
}