
.wrapper {
    align-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4a4a4a;
    overflow: auto
}

.gifWrapper {
    margin: 0 auto;
    align-content: center;
}

.images {
    width: 350px;
    height: 350px;
}

.descriptionBlock {
    color: #F2F0F0;
    height: 115px;
}

.descriptionBlock button {
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    float: right;
}

.descriptionBlock button:hover {
    color: #e76984;
    cursor: pointer;
}

.imageBlock {
    width: 350px;
    background-color: #1d1d1d;
    margin: 5px;
    display: inline-grid;
}

