
.wrapper {
    align-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #61dafb;
    overflow: auto
}

.gifWrapper {
    margin: 0 auto;
    align-content: center;
}

.wrapper textarea {
    height: 42px;
    width: 299px;
    white-space: nowrap;
    background-color: #282c34;
}

.searchFormBlock {
    display: flex;
    justify-content: center;
    margin: 10px 0 12px 0;
}

.form {
    width: 100px;
}

.searchFormBlock button {
    height: 28px;
    width: 50px;
}

.searchFormBlock input {
    height: 22px;
}

.images {
    width: 350px;
    height: 350px;
}

.descriptionBlock {
    color: #1f67e9;
    border-style: dotted;
    height: 115px;
}

.imageBlock {
    width: 350px;
    background-color: #26c3ff;
    margin: 5px;
    display: inline-grid;
}

.preloaderBlock {
    display: flex;
}

