
.searchFormWrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: #f6f6f2;
}

.searchFormWrapper form {
    display: flex;
}

.searchFormWrapper button {
    height: 28px;
    width: 50px;
}

.searchFormWrapper input {
    height: 22px;
}

.showMoreBtn {
    color: #282c34;
    background-color: transparent;
    outline: none;
    border: none;
}

.showMoreBtn:hover {
    font-weight: bold;
    transition: 0.1s;
}
