
.searchFormWrapper {
    background-color: #212121;
    position: sticky;
    top: 0;
    padding: 0;
}

.searchFormWrapper button {
    height: 43px;
    width: 43px;
    float: right;
    position: absolute;
    right: 25%;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.searchFormWrapper button:hover {
    transition: 0.3s;
    background-color: #c1deea;
}

.searchFormWrapper input {
    height: 43px;
    width: 50%;
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
}

@media (max-width: 500px) {
    .searchFormWrapper input {
        transition: 0.5s;
        width: 100%;
    }

    .searchFormWrapper button {
        transition: 0.5s;
        right: 0;
        background-color: #d1e6ff;
    }
}

.showMoreBtn {
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
}

.showMoreBtn:hover {
    font-weight: bold;
    transition: 0.1s;
}
